<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

    <form action="" method = "post">
      <input type="text" calss = "username" value="" placeholder="User Name">
      <input type="text" class="message" value="" placeholder="Messages">
      <input type="submit">
    </form>

    <script src = "chatsocket.js"></script>

  </body>
</html>
